<table class="table table-hover border-primary">
    <tbody>
        <tr>
            <th>Motherboard</th>
            <td>MSI B450-A PRO MAX</td>
        </tr>
        <tr>
            <th>Processor</th>
            <td>AMD Ryzen 5 3600 AM4 OEM</td>
        </tr>
        <tr>
            <th>Memory</th>
            <td>Kingston DDR4 16Gb (2x8Gb) 3200 MHz (HX432C16PB3K2/16)</td>
        </tr>
        <tr>
            <th>Graphics card</th>
            <td>ASUS Dual GeForce RTX 3060 Ti OC Edition</td>
        </tr>
        <tr>
            <th>Storage</th>
            <td>
                <ul>
                    <li>Samsung 970 EVO Plus 250 GB MZ-V7S250BW</li>
                    <li>1 TB SSD WD Blue [WDS100T2B0A]</li>
                    <li>2 TB Seagate BarraCuda [ST2000DM008]</li>
                    <li>1 TB WD Black [WD1002FAEX]</li>
                </ul>
            </td>
        </tr>
        <tr>
            <th>OS</th>
            <td>Windows 10</td>
        </tr>
        <tr>
            <th>Monitor</th>
            <td>
                <ul>
                    <li>AOC Gaming G2460VQ6</li>
                    <li>AOC 22B2H 21.5</li>
                </ul>
            </td>
        </tr>
    </tbody>
</table>