<table class="table table-hover border-vgreen">
    <tbody>
        <tr>
            <th>Motherboard</th>
            <td>ASUS P8Z77-V LE PLUS</td>
        </tr>
        <tr>
            <th>Processor</th>
            <td>Intel Core i5-3570 OEM</td>
        </tr>
        <tr>
            <th>Memory</th>
            <td>Corsair DDR3 16GB (4GBx4) 1866MHz (CMZ8GX3M2A1866C9)</td>
        </tr>
        <tr>
            <th>Graphics card</th>
            <td>MSI GTX 1060 6GB (Used for mining)</td>
        </tr>
        <tr>
            <th>Storage</th>
            <td>
                <ul>
                    <li>256 GB Samsung 850 EVO MZ-75E250BW</li>
                    <li>640 GB WD Green [WD6400AACS]</li>
                </ul>
            </td>
        </tr>
        <tr>
            <th>OS</th>
            <td>Ubuntu 20.04</td>
        </tr>
    </tbody>
</table>