{%- if site.url -%}
    {%- assign seo_url = site.url | append: site.baseurl -%}
{%- endif -%}

{%- if page.title -%}
    {%- assign seo_title = page.title | append: " - " | append: site.title -%}
{%- endif -%}
{%- if seo_title -%}
    {%- assign seo_title = seo_title | markdownify | strip_html | strip_newlines | escape_once -%}
{%- endif -%}

{%- if page.canonical_url -%}
    {%- assign canonical_url = page.canonical_url -%}
{%- else -%}
    {%- assign canonical_url = page.url | replace: "index.html", "" | absolute_url -%}
{%- endif -%}

{%- assign seo_description = page.description | default: page.excerpt | default: site.description -%}
{%- if seo_description -%}
    {%- assign seo_description = seo_description | markdownify | strip_html | newline_to_br | strip_newlines | replace: '<br />', ' ' | escape_once | strip -%}
{%- endif -%}

{%- if page.date -%}
    {%- assign og_type = "article" -%}
{%- else -%}
    {%- assign og_type = "website" -%}
{%- endif -%}

<title>{{ seo_title | default: site.title }}</title>
<meta name="description" content="{{ seo_description }}">
<meta property="og:type" content="{{ og_type }}">
<meta property="og:locale" content="{{ site.locale | replace: "-", "_" | default: "en_US" }}">
<meta property="og:site_name" content="{{ site.title }}">
<meta property="og:title" content="{{ page.title | default: site.title | markdownify | strip_html | strip_newlines | escape_once }}">
<meta property="og:url" content="{{ canonical_url }}">

{%- if seo_description -%}
    <meta property="og:description" content="{{ seo_description }}">
{%- endif -%}

{%- if page.date -%}
    <meta property="article:published_time" content="{{ page.date | date_to_xmlschema }}">
{%- endif -%}
{%- if og_type == "article" and page.last_modified_at -%}
    <meta property="article:modified_time" content="{{ page.last_modified_at | date_to_xmlschema }}">
{%- endif -%}

<link rel="canonical" href="{{ canonical_url }}">
<!-- Yandex.Metrika counter -->
<script type="text/javascript">
    (function (m, e, t, r, i, k, a) {
        m[i] = m[i] || function () {
            (m[i].a = m[i].a || []).push(arguments)
        };
        m[i].l = 1 * new Date();
        k = e.createElement(t),
        a = e.getElementsByTagName(t)[0],
        k.async = 1,
        k.src = r,
        a.parentNode.insertBefore(k, a)
    })(window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

    ym(87731504, "init", {
        clickmap: true,
        trackLinks: true,
        accurateTrackBounce: true
    });
</script>
<noscript>
    <div><img alt="" src="https://mc.yandex.ru/watch/87731504" style="position:absolute; left:-9999px;"/></div>
</noscript>
<!-- /Yandex.Metrika counter -->