{% assign t = site.data.translation %}
<!doctype html>
<html lang="{{ page.lang | slice: 0,2 | default: "en" }}">
    <head>
        {%- include head.html -%}
    </head>
    <body class="min-vh-100 d-flex flex-column wait-for-icons">
        <a class="sr-only sr-only-focusable" href="#main">Skip to main</a>
        {% include navigation.html %}
        <main class="flex-grow-1 flex-shrink-0" id="main">
            <div class="scanlines"></div>
            <div class="scanline"></div>
            {{ content }}
        </main>
        {% include footer.html %}
        {% include scripts.html %}
    </body>
</html>
