name: Build Artifact
on:
  push:
    branches: [master]
  pull_request:
    branches: [master]
  workflow_call:
env:
  NUXT_PUBLIC_STORAGE_ENDPOINT: ${{ vars.STORAGE_ENDPOINT }}
  NUXT_PUBLIC_STORAGE_JSON: ${{ vars.STORAGE_JSON }}
jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    env:
      NUXT_APP_BASE_URL: /
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          lfs: true

      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20.x
          cache: "yarn"

      - name: Build website
        run: |
          yarn install --immutable --immutable-cache --check-cache
          yarn generate

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v4
        with:
          path: .output/public
